
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <!--start page 1 --> </>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Total Car </h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.CarCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Total Location Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.LocationCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.LocationRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.LocationRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Total Author Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AuthorCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.AuthorRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.AuthorRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Total Blog Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
									@ViewBag.BlogCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BlogRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BlogRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--end page 1 -->

        <!--start page 2 --> </>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Total Brand Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.BrandCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BrandRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.BrandRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Daily</span>
                            <h5 class="card-title mb-0 text-white">Avagare Price Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.DailyAvgCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.DailyAvgRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.DailyAvgRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Weekly</span>
                            <h5 class="card-title mb-0 text-white">Avagare Price Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.WeeklyAvgCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.WeeklyAvgRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.WeeklyAvgRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Monthly</span>
                            <h5 class="card-title mb-0 text-white">Avagare Price Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.MonthlyAvgCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.MonthlyAvgRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.MonthlyAvgRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

        </div>
        <!--end page 2 -->

         <!--start page 3 --> </>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Automatic Transmission Car Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AutomaticTransmissionCarCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.AutoTransRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.AutoTransRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Most Popular Car per Brand</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.BrandWithMostCars
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BrandWithMostCarsRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.BrandWithMostCarsRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Latest</span>
                            <h5 class="card-title mb-0 text-white">Most Commented Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.BlogWithMostComments
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.BlogWithMostCommentsRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.BlogWithMostCommentsRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Active</span>
                            <h5 class="card-title mb-0 text-white">Cars Under 1000 km</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
									@ViewBag.LessThan1k
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.LessThan1kRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.LessThan1kRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--end page 3 -->

        <!--start page 4 --> </>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Total</span>
                            <h5 class="card-title mb-0 text-white">Gasoline & Diesel Car Count </h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.FuelGasolineOrDiesel
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.FuelGasolineOrDieselRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.FuelGasolineOrDieselRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Total</span>
                            <h5 class="card-title mb-0 text-white">Electric & Hybrid Car Count</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.ElectricOrHybrid
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.ElectricOrHybridRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.ElectricOrHybridRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Latest</span>
                            <h5 class="card-title mb-0 text-white">Most Expensive Daily Rental Car</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.PriceDailyMax 
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.PriceDailyMaxRandomNumber% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.PriceDailyMaxRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Latest</span>
                            <h5 class="card-title mb-0 text-white">Lowest Daily Rental Price Car</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.PriceDailyMin
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50"> @ViewBag.PriceDailyMinRandomNumber% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width:  @ViewBag.PriceDailyMinRandomNumber%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--end page 4 -->
    </div>
</div>

