
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Fılter Details</h1>

           @ViewBag.BookPickDate 
           @ViewBag.BookOffDate 
           @ViewBag.PickTime 
           @ViewBag.OffTime 
           @ViewBag.Location 

