@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Home Banner Area</h4>
                        <p class="card-subtitle mb-4">
                            You can edit the information displayed in the homepage banner below.
                            To maintain layout integrity, please create only one banner.

                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Video Url</th>
                                        <th>Video Description</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Watch the video on youtube</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
											<td>@item.Description</td>
											<td>@item.VideoUrl</td>
											<td>@item.VideoDescription</td>

                                            <td>
                                                <a href="/Admin/AdminBanner/RemoveBanner/@item.BannerId"
                                                   class="btn btn-outline-danger">Delete</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId"
                                                   class="btn btn-outline-success">Update></a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Admin/#/@item.BannerId"
                                                   class="btn btn-outline-success">Watch the video on youtube></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-outline-primary"> Add New Banner></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
