@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Home Blog Area</h4>
                        <p class="card-subtitle mb-4">
                            You can edit the information displayed in the homepage Blog below.
                            To maintain layout integrity, please create only one Blog.

                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>Remove</th>
                                        <th>Blogs</th>
                                        <th>Reviews</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>  
                                            <td>@item.Description</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CategoryID</td>

                                            <td>
                                                <a href="/Admin/AdminBlog/RemoveBlog/@item.BlogID"
                                                   class="btn btn-outline-danger">Delete</a>
                                            </td>
                                          
                                            <td>
                                                <a href="/Blog/BlogDetails/@item.BlogID"
                                                   class="btn btn-outline-success">Blogs Details</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminComment/Index/@item.BlogID"
                                                   class="btn btn-outline-dark">Reviews Details</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBlog/CreateBlog/" class="btn btn-outline-primary"> Add New Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

